table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-icon {
  font-size: 16px;
  margin-left: px;
  position: absolute;
}

.error-message {
  text-align: center;
  color: #ff0000;
}